$border-radius: 5px;

.user-parameters {
  .menu {
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: $border-radius;
    margin: 15px;
    padding-top: 0;
    padding-bottom: 0;

    .title-menu {
      border-radius: $border-radius;
    }

    .active {
      background-color: rgba(158,158,158,0.2);
    }
  }
}
