<div layout="row" flex class="user-parameters">
    <div flex="18">
        <md-list class="menu">
            <md-subheader class="md-no-sticky title-menu">User Parameters</md-subheader>
            <md-divider></md-divider>
            <md-list-item ng-class="{'active': parametersMenuCtrl.isGeneral()}"
                    ng-click="parametersMenuCtrl.goToGeneral()">
                <p>General</p>
            </md-list-item>
            <md-list-item ng-class="{'active': parametersMenuCtrl.isPassword()}"
                          ng-click="parametersMenuCtrl.goToPassword()">
                <p>Change Password</p>
            </md-list-item>
        </md-list>
    </div>

    <div flex ui-view="content"></div>
</div>