$width: 250px;

.actions-card {
  width: $width;
  max-width: $width;

  .text-limiter {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: $width - 20px;
  }
}