<div class="md-padding">
    <div class="border form" layout="column" flex>
        <md-input-container aria-label="Name">
            <label>Name</label>
            <input required ng-model="userNewAdminCtrl.user.name" type="text">
        </md-input-container>

        <div flex layout="row">
            <md-input-container aria-label="Password" flex>
                <label>Password</label>
                <input required ng-model="userNewAdminCtrl.user.password"
                       ng-change="userNewAdminCtrl.checkIsPasswordNotOk()"
                       type="password">
            </md-input-container>

            <md-input-container aria-label="Check password" flex>
                <label>Check password</label>
                <input required ng-model="userNewAdminCtrl.checkPassword"
                       ng-change="userNewAdminCtrl.checkIsPasswordNotOk()"
                       type="password">
            </md-input-container>

            <md-tooltip md-direction="down"
                        md-autohide="true"
                        md-visible="userNewAdminCtrl.passwordNotOk">
                Can't save. Password are different !
            </md-tooltip>
        </div>

        <div class="md-input-container">
            <label class="label-color">Groups</label>
            <md-chips ng-model="userNewAdminCtrl.user.groups"
                      md-autocomplete-snap
                      md-require-match="true">
                <md-autocomplete
                        md-no-cache="true"
                        md-selected-item="selectedItem"
                        md-search-text="searchText"
                        md-items="item in userNewAdminCtrl.filterCurrentGroups(searchText)"
                        md-item-text="item.name"
                        placeholder="Search for a group">
                    <span>{{item.name}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      {{$chip.name}}
                    </span>
                </md-chip-template>
            </md-chips>
        </div>
    </div>
</div>

<md-fab-speed-dial md-direction="up" md-open="groupNewAdminCtrl.isFabOpen"
                   class="md-scale md-fab md-fab-bottom-right"
                   ng-click="userNewAdminCtrl.fabMouseClick()">
    <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab md-warn">
            <md-tooltip md-direction="left"
                        md-autohide="true">
                Menu
            </md-tooltip>
            <ng-md-icon icon="dehaze"></ng-md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Cancel" class="md-fab md-raised md-mini"
                   ui-sref="ozra.administration.users">
            <md-tooltip md-direction="left"
                        md-autohide="true">
                Cancel
            </md-tooltip>
            <ng-md-icon icon="cancel"></ng-md-icon>
        </md-button>

        <md-button aria-label="Save" class="md-fab md-raised md-mini"
                   ng-disabled="!userNewAdminCtrl.isUserComplete()"
                   ng-click="userNewAdminCtrl.save()">
            <md-tooltip md-direction="left"
                        md-autohide="true">
                Save
            </md-tooltip>
            <ng-md-icon icon="save"></ng-md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>