.md-input-container {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 18px 0;
  vertical-align: middle;

  .label-color {
    color:rgba(0,0,0,0.54);
  }
}

.separator {
  width: 15px;
}