<div layout="column" flex layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools header">
            <md-button class="md-icon-button" aria-label="Node list" ng-disabled="true">
                <ng-md-icon icon="dehaze"></ng-md-icon>
            </md-button>
            <div class="node spacing-right">
                <span>Master</span>
            </div>
            <md-button class="spacing-right top-button" aria-label="Ozra"
                       ui-sref="ozra.actions">
                <span class="title">Ozra</span>
            </md-button>
            <md-button class="top-button" aria-label="Actions"
                       ui-sref="ozra.actions"
                       ui-sref-active="active">
                Actions
            </md-button>
            <md-button class="top-button" aria-label="Monitoring" ng-disabled="true">
                Monitoring
            </md-button>

            <span flex></span>

            <md-button class="md-icon-button" aria-label="Administration"
                       ng-if="headerCtrl.isAdmin"
                       ui-sref="ozra.administration.users">
                <ng-md-icon icon="tune"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings"
                       ui-sref="ozra.parameters.general">
                <ng-md-icon icon="settings"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings"
                       ng-click="headerCtrl.disconnect()">
                <ng-md-icon icon="logout"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content ui-view="content" class="static-position" md-scroll-y></md-content>
</div>