<div class="md-padding" layout="column" flex>
    <md-input-container>
        <label>New password</label>
        <input required type="password"
               ng-model="passwordUserCtrl.password"
               ng-change="passwordUserCtrl.checkIsPasswordNotOk()">
    </md-input-container>

    <md-input-container>
        <label>Verify password</label>
        <input required type="password"
               ng-model="passwordUserCtrl.checkPassword"
               ng-change="passwordUserCtrl.checkIsPasswordNotOk()">
        <md-tooltip md-direction="down"
                    md-autohide="true"
                    md-visible="passwordUserCtrl.passwordNotOk">
            Can't save. Password are different !
        </md-tooltip>
    </md-input-container>

    <md-button aria-label="Save password"
               ng-disabled="passwordUserCtrl.passwordNotOk"
               ng-click="passwordUserCtrl.updateUserPassword()">
        Save password
    </md-button>
</div>